@* @model Core.DTOs.AdminStatsDTO

<div class="col-md-6 mb-4">
    <div class="card">
        <div class="card-header">
            @Model.Header
        </div>
        <div class="card-body">
            @if (Model.Header == "Articles")
            {
                <p class="card-text">Toplam Makale Sayýsý: @Model.TotalArticles</p>
                <p class="card-text">Onay Bekleyen Makale Sayýsý: @Model.PendingArticles</p>
                <p class="card-text">Reddedilen Makale Sayýsý: @Model.RejectedArticles</p>
            }
            else if (Model.Header == "Comments")
            {
                <p class="card-text">Toplam Yorum Sayýsý: @Model.TotalComments</p>
                <p class="card-text">Onay Bekleyen Yorum Sayýsý: @Model.PendingComments</p>
                <p class="card-text">Reddedilen Yorum Sayýsý: @Model.RejectedComments</p>
            }
            <button onclick="@Model.OnClickFunction" class="btn btn-primary">Detaylar</button>
        </div>
    </div>
</div> *@