@model Core.DTOs.HomeCardDto

<div class="container mt-4">
    <div class="row mx-4">
        <div class="card">
            <span class="text-end mt-1">@Model.Article.CreatedAt.ToString("dd.MM.yyyy")</span>
            <div class="d-flex">
                <img class="card-img-top mx-3 d-none d-md-block" style="width:12rem" src="@Model.Article.CoverImageUrl" alt="Card image cap" />
                <div class="card-body d-flex flex-column">
                    <div>
                        <h5 class="card-title">
                            <a href="#">@Model.Article.Title</a>
                        </h5>
                        <p><a href="#">@Model.AppUser.FullName</a></p>
                    </div>
                </div>
            </div>
            <div class="card-body d-flex justify-content-sm-between flex-column flex-sm-row">
                <div class="d-flex justify-content-between w-100">
                    <div class="d-flex">
                        <div class="me-4">like: @Model.LikeCount</div>
                        <div>view: @Model.ViewCount</div>
                    </div>
                    <a class="btn btn-primary d-none d-sm-block" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Article.Id">View Article</a>
                </div>
                <div class="mt-3 d-sm-none">
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Details" asp-route-id="@Model.Article.Id">View Article</a>
                </div>
            </div>
        </div>
    </div>
</div>